/* 🌌 Dark Mode (Default Space Theme) */

.levelNav {
  display: flex;
  justify-content: space-around;

  min-width: 200px;
}

.levelNav > .levelBtn {
  width: 100px;
  height: 40px;

  border: none;
  border-radius: 5px;

  margin: 10px;

  cursor: pointer;

  background-color: var(--accent-primary);
  color: var(--text-primary);

  box-shadow: 0 0 2px var(--accent-glow), 0 0 6px var(--accent-glow),
    0 0 4px var(--accent-glow);

  transition: all 0.3s ease-in-out;
}

.levelBtn:hover {
  box-shadow: 0 0 12px var(--accent-glow), 0 0 24px var(--accent-glow),
    0 0 40px var(--accent-glow);
  transform: scale(1.05);
}
